<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- BEGIN: Main Menu-->
<!-- main menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true"
     th:fragment="bodyMainMenu">
    <!-- main menu header-->
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class="nav-item active"><a href="/dashboard"><i class="feather icon-home"></i><span class="menu-title" data-i18n="">대쉬보드</span>
                <span class="badge badge badge-primary badge-pill float-right">5</span></a>
            </li>
            <li class=" nav-item"><a href="#"><i class="feather icon-zap"></i><span class="menu-title">일기장</span></a>
                <ul class="menu-content">
                    <li><a class="menu-item" href="/diary/month" >월간 일기장</a></li>
                    <li class="active"><a class="menu-item" href="/diary/daily">일일 일기장</a></li>
                    <li><a class="menu-item" href="/diary/gallery" >갤러리</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- main menu footer-->
</div>
<!-- / main menu-->
<!-- END: Main Menu-->