<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body class="vertical-layout vertical-menu 2-columns   fixed-navbar" data-open="hover" data-menu="vertical-menu" data-col="2-columns">

<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div th:replace="fragments/bodyMainMenu :: bodyMainMenu"/>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-body">
            <section id="timeline" class="timeline-center timeline-wrapper">
                <h3 class="page-title text-center">Gallery</h3>
                <!-- 2015 -->
                <ul class="timeline">
                    <li class="timeline-line"></li>
                    <li class="timeline-group">
                        <a href="#" class="btn btn-primary"><i class="fa fa-calendar-o"></i> 2018</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-calendar-o"></i> 2019</a>
                        <a href="#" class="btn btn-primary"><i class="fa fa-calendar-o"></i> 2020</a>
                    </li>
                </ul>
                <ul class="timeline">
                    <li class="timeline-line"></li><!-- /.timeline-line -->
                    <li class="timeline-item block p-0">
                        <div class="timeline-badge"><a title="" data-context="inverse" data-container="body" class="border-silc" href="#" data-original-title="block highlight"></a></div>
                        <div class="timeline-card card border-grey border-lighten-2">
                            <div class="card-header">
                                <div class="text-center">
                                    <p class="mt-1"><i class="fa fa-file-image-o font-medium-4"></i></p>
                                    <h4>Year Gallery</h4>
                                    <p class="timeline-date">2020</p>
                                    <p>일년간의 이미지를 모두 확인할 수 있습니다.</p>
                                </div>
                            </div>
                            <!-- Image grid -->
                            <div class="card-content">
                                <div class="card-body my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                                    <div class="row">
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/1.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/1.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/2.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/2.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/3.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/3.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/4.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/4.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="row">
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/5.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/5.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/6.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/6.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/7.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/7.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/8.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/8.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="row">
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/9.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/9.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/10.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/10.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/11.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/11.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                        <figure class="col-md-3 col-sm-6 col-12" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                                            <a href="/static/app-assets/images/gallery/12.jpg" itemprop="contentUrl" data-size="480x360">
                                                <img class="img-thumbnail img-fluid" src="/static/app-assets/images/gallery/12.jpg" itemprop="thumbnail" alt="Image description" />
                                            </a>
                                        </figure>
                                    </div>
                                </div>
                                <!--/ Image grid -->

                                <!-- Root element of PhotoSwipe. Must have class pswp. -->
                                <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                                    <!-- Background of PhotoSwipe.
                 It's a separate element as animating opacity is faster than rgba(). -->
                                    <div class="pswp__bg"></div>

                                    <!-- Slides wrapper with overflow:hidden. -->
                                    <div class="pswp__scroll-wrap">

                                        <!-- Container that holds slides.
                    PhotoSwipe keeps only 3 of them in the DOM to save memory.
                    Don't modify these 3 pswp__item elements, data is added later on. -->
                                        <div class="pswp__container">
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                            <div class="pswp__item"></div>
                                        </div>

                                        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                                        <div class="pswp__ui pswp__ui--hidden">

                                            <div class="pswp__top-bar">

                                                <!--  Controls are self-explanatory. Order can be changed. -->

                                                <div class="pswp__counter"></div>

                                                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                                                <button class="pswp__button pswp__button--share" title="Share"></button>

                                                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                                                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                                                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                                                <!-- element will get class pswp__preloader-active when preloader is running -->
                                                <div class="pswp__preloader">
                                                    <div class="pswp__preloader__icn">
                                                        <div class="pswp__preloader__cut">
                                                            <div class="pswp__preloader__donut"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                                                <div class="pswp__share-tooltip"></div>
                                            </div>

                                            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                                            </button>

                                            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                                            </button>

                                            <div class="pswp__caption">
                                                <div class="pswp__caption__center"></div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!--/ PhotoSwipe -->
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
<!-- END: Content-->

<div th:replace="fragments/footer :: footer"/>

<div class="sidenav-overlay"></div>
<div class="drag-target"></div>

<!-- BEGIN: Vendor JS-->
<script src="/static/app-assets/vendors/js/vendors.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="/static/app-assets/vendors/js/ui/jquery.sticky.js"></script>
<script src="/static/app-assets/vendors/js/charts/jquery.sparkline.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="/static/app-assets/js/core/app-menu.js"></script>
<script src="/static/app-assets/js/core/app.js"></script>
<script src="/static/app-assets/js/scripts/customizer.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="/static/app-assets/js/scripts/ui/breadcrumbs-with-stats.js"></script>
<!-- END: Page JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="/static/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
<script src="/static/app-assets/vendors/js/gallery/masonry/masonry.pkgd.min.js"></script>
<script src="/static/app-assets/vendors/js/gallery/photo-swipe/photoswipe.min.js"></script>
<script src="/static/app-assets/vendors/js/gallery/photo-swipe/photoswipe-ui-default.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Page JS-->
<script src="/static/app-assets/js/scripts/gallery/photo-swipe/photoswipe-script.js"></script>
<script src="/static/app-assets/js/scripts/pages/timeline.js"></script>
</body>
</html>